
################################################################################
#                                                                              #
#                                                                              #
#                    ###############################***********                #
#                   ###############################*************               #
#                  ###############################**************               #
#                 ###############################****************              #
#                ###############################******************             #
#               ##########..............................**********             #
#               ##########..............................********++             #
#               ##########..............................******++++             #
#               ##########..............................****++++++             #
#               ##########..............................***+++++++             #
#               ##########..............................*+++++++++             #
#               ##########..........++++++++++++++++++++++++++++++             #
#               ##########..........+++++++++++++++++++++++++++++              #
#               ##########..........++++++++++++++++++++++++++                 #
#               ##########..........++++++++++++++++++++++++                   #
#               ##########....................++++++++++++++                   #
#               ##########....................++++++++++++++++                 #
#               ##########....................++++++++++++++++++               #
#               ##########....................++++++++++++++++++++             #
#               ##########....................++++++++++++++++++++             #
#               ##########..........::::::::::+++++++++++++++++++              #
#               ##########..........++++++++++++++++++++++++++++               #
#               #########*..........++++++++++++++++++++++++++++               #
#               ########**..........+++++++++++++++++++                        #
#               ######****..........++++++++++++++++++                         #
#               ####******..........++++++++++++++++++                         #
#               ##********..........+++++++++++++++++++                        #
#               **********..........++++++++++++++++++++                       #
#               ******************++++++++++++++++++++++                       #
#               ****************++++++++     +++++++++                         #
#               **************+++++++++        +++++                           #
#               *************++++++++++                                        #
#               ***********+++++++++++                                         #
#                                                                              #
#                                                                              #
################################################################################
#                                                                              #
#                                More details at                               #
#                           https://EditorConfig.org                           #
#                                                                              #
################################################################################


root = true


[*.{html,yaml,yml,md}]
insert_final_newline = false
indent_style = space
end_of_line = lf
indent_size = 4
charset = utf-8

[*.{html,yaml,yml}]
trim_trailing_whitespace = true

[*.{md}]
trim_trailing_whitespace = false
